html {
  color: #fff;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
}

svg {
  cursor: pointer;
}

.header-container-item-center {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.header-container-item-center > li {
  cursor: pointer;
  margin: 15px;
  font-weight: 600;
  font-size: 16px;
}
  
a {
  position: relative;
  color: #949BB7;
  text-decoration: none;
}

a:focus {
  color: #fff;
}

a:focus::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 2px solid #EA51BC;
}

main {
  background: #111217;
  padding-top: 70px;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin: 0 70px;
}

form {
  display: flex;
  flex-direction: column;
}

.column {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
}

input, textarea {
  color: #ffe;
  width: 392px;
  height: 49px;
  background: #111217;
  border: 1px solid #949bb7;
  border-radius: 12px;
  margin: 12px 0px;
}

footer {
  display: flex;
  align-items: flex-start;
  background: #151a30;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background: #151a30;
  position: fixed;
  width: 100%;
}

.header-container-item-right {
  display: flex;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.menu-item {
  margin: 0 15px;
}

.avatar {
  border-radius: 50%;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}


.slider {
  padding-top: 50px;
}

.divider {
border: 1px solid #949BB7;
}

.bigtitle {
  font-weight: 800;
  font-size: 33px;
  margin: 0 0 12px 0;
}

.title {
  font-weight: 500;
  font-size: 16px;
  color: #949bb7;
  margin: 0;
}
  
.email-link {
  color: gold;
}

.email-footer {
  background-color: #151a30;
}

.footer-item > svg {
  margin-right: 24px;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 40px;
}
  
.date-input {
  text-transform: uppercase;
  color: #949bb7;
}  
  
.flag {
    display: flex;
    align-items: center;
  }

.flag > svg {
  margin-right: 12px;
}
  
.file-input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 105px;
  border: 1px dashed #ccc;
  cursor: pointer;
}

#selectsvg {
position: relative;
left: 350px;
top: -47px;
}
  
#textarea {
  background: #111217;
  border-radius: 12px;
  flex-grow: 1;
}
  
.helpertext {
  font-size: 14px;
  color: #949bb7;
}
  
.submit-button {
  height: 61px;
  background: linear-gradient(136.51deg, #7b20b5 0%, #ea51bc 94.14%);
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
}

.bigtext {
    font-weight: 800;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 1px;
}
  
.dividers {
    display: flex;
    justify-content: space-between
}

.helpertext-upload {
  margin-top: 12px;
}

.range {
  accent-color: #EA51BC;
}

.radio {
  display: flex;
  align-items: center;
}

.radio > input {
  margin-right: 10px;
}

input[type="file"] {
  display: none;
}

/* input:valid {
  border-color: green;
} */

.button {
  accent-color: #EA51BC;
  background: #151a30;
  width: 20px;
  height: 20px;
}

.first-block {
  margin: 60px 0;
}
