

body {
  margin: 0;
  color: #fff;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
}

svg {
  cursor: pointer;
}

.header-container{
  z-index: 1;
}
.header-container-item-center {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.header-container-item-center > li {
  cursor: pointer;
  margin: 15px;
  font-weight: 600;
  font-size: 16px;
}
  
a {
  position: relative;
  color: #949BB7;
  text-decoration: none;
}
 a:hover {
  color: #ffe;
 }
a:focus {
  color: #fff;
}

a:focus::after {
  content: "'\2713'";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 2px solid #EA51BC;
}

main {
  background: #111217;
  padding-top: 70px;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin: 0 70px;
}

form {
  display: flex;
  flex-direction: column;
}

.column {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
}

input, textarea{
  color: #ffe;
  width: 392px;
  height: 49px;
  background: #111217;
  border: 1px solid #949bb7;
  border-radius: 12px;
  margin: 12px 0px;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: space-between;
  background: #151a30;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background: #151a30;
  position: fixed;
  width: 100%;
}

.header-container-item-right {
  display: flex;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.menu-item {
  margin: 0 15px;
  cursor: pointer;
}

.avatar {
  border-radius: 50%;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}


.slider {
  padding-top: 50px;
}

.divider {
border: 1px solid #949BB7;
}

.bigtitle {
  font-weight: 800;
  font-size: 33px;
  margin: 0 0 12px 0;
}

.title {
  font-weight: 500;
  font-size: 16px;
  color: #949bb7;
  margin: 0;
}
  
.email-link {
  color: gold;
}

.email-footer {
  background-color: #151a30;
  width: 200px;
  height: 38px;
}
.footer-item {
  width: fit-content;
}
.footer-item > svg {
  margin-right: 24px;
}

.footer-items {
display: flex;
gap: 10px;
align-items: center;
width: fit-content;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 40px;
  width: 15%;
}
  
.date-input {
  text-transform: uppercase;
  color: #949bb7;
}  
  
.flag {
    display: flex;
    align-items: center;
  }

.flag > svg {
  margin-right: 12px;
}
  
.file-input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 105px;
  border: 1px dashed #ccc;
  cursor: pointer;
}
  
#textarea {
  background: #111217;
  border-radius: 12px;
  flex-grow: 1;
}
  
.helpertext {
  font-size: 14px;
  color: #949bb7;
}
  
.submit-button {
  height: 61px;
  background: linear-gradient(136.51deg, #7b20b5 0%, #ea51bc 94.14%);
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
}

.submit-button:hover{
 background: #7B20B5;
  display: block;
}

.bigtext {
    font-weight: 800;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 1px;
    width: fit-content;
}
  
.dividers {
    display: flex;
    justify-content: space-between
}

.helpertext-upload {
  margin-top: 12px;
}

.range {
  accent-color: #EA51BC;
}

.radio {
  display: flex;
  align-items: center;
}

.radio > input {
  margin-right: 10px;
}

input[type="file"] {
  display: none;
}

.button {
  accent-color: #EA51BC;
  width: 20px;
  height: 20px;
border-radius: 4px;
content:'\2713';
}




.search-box{
  display: flex;
  justify-content: center;
}

.search-box input {
z-index: 1;
border-radius: 12px;
width: 352px;
height: 40px;
background: #FDFDFD;
border-radius: 12px;
}

.search-box input:focus {
  outline: none;
}

#searchsvg {
  position: absolute;
    top: 25px;
    right: 35px;
}

.sometxt {
  padding-left: 10px;
}
#calendar {
  position: relative;
  top: -50px;
  left: 350px;
}







.select-box {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

.select-box .options-container {
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  order: 1;
}

div.select-box {
background: #111217;
border: 1px solid #FDFDFD;
box-shadow: 0px 0px 20px rgba(234, 235, 241, 0.3);
border-radius: 12px;
}

div.selected {
  display: flex;
  align-items: center;
}
.selected {
  height: 40px;
background: #111217;
border: 1px solid #949BB7;
border-radius: 12px;
  position: relative;
  order: 0;
}

.selected:hover {
  border: 1px solid #FDFDFD;
  box-shadow: 0px 0px 20px rgba(234, 235, 241, 0.3);
  border-radius: 12px;
  }

.selected::after {
  content: "";
  background: url("../images/arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;
  transition: all 0.4s;
}

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
  margin-top: 54px;
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: #0d141f;
  border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
  padding: 5px 10px;
  cursor: pointer;
}

.select-box .option:hover {
  background: #ea51bc;
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}

.search-box input {
  padding: 12px 16px;
  font-size: 16px;
  position: absolute;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
  width: 352px;
height: 20px;
background: #FDFDFD;
border-radius: 12px;
}

.search-box input:focus {
  outline: none;
}

.select-box .options-container.active ~ .search-box input {
  opacity: 1;
  pointer-events: auto;
}



#footer-check {
  
width: 38px;
height: 38px;
background: linear-gradient(136.51deg, #7B20B5 0%, #EA51BC 94.14%);
border-radius: 8px;
}


#first {
  background-color: #4B4D65;
}

.section input[type="checkbox"]{
  display: none;
}
.container {
  margin-bottom: 10px;
}

.container-2 label {
position: relative;
right: -38px;
}
.container label {
  position: relative;
}

.container span::before,
.container span::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  color: #000;
}

.container span.checkbox::before {
  width: 27px;
  height: 27px;
  left: -35px;
  box-sizing: border-box;
  border: 3px solid transparent;
  transition: border-color .2s;
border: 1px solid #FDFDFD;
border-radius: 4px;
}

.container span.checkbox::after {
  content: '\2713';
    left: -28px;
    top: -2px;
    color: transparent;
    transition: color .2s;
    width: 25px;
    height: 25px;
    border-radius: 4px;
}

input[type="checkbox"]:checked + label span.checkbox::after {
  color: white;
}

.container-2 span::before,
.container-2 span::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  color: #000;
}

.container-2 span.checkbox::before {
  width: 38px;
height: 38px;
background: linear-gradient(136.51deg, #7B20B5 0%, #EA51BC 94.14%);
border-radius: 8px;
  left: -35px;
  box-sizing: border-box;
  border: 3px solid transparent;
  transition: border-color .2s;
border: 1px solid #FDFDFD;
border-radius: 4px;
}

.container-2 span.checkbox::after {
  content: '\2713';
    left: -34px;
    top: -2px;
    color: transparent;
    transition: color .2s;
    width: 25px;
    height: 25px;
    border-radius: 4px;
}

.container-2 span.checkbox::after {
  content: '\2713';
  left: -24px;
  top: -2px;
  color: transparent;
  transition: color .2s;
  width: 25px;
  height: 25px;
  border-radius: 4px;
}


